In [25]:
import os
import numpy as np
import pandas as pd
import random
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [26]:
from surprise import SVD
from surprise import Dataset
from surprise import dump
from surprise import accuracy
from surprise import Reader
import pandas as pd 
from collections import defaultdict

In [27]:
ratings = pd.read_csv("./id_rating.csv", encoding='cp949')
ratings.head()

   Unnamed: 0        user_id  pattern_id                  fave_date  int_id
0           0   Crocheturlay      720780  2017/02/19 15:08:49 -0500       0
1           1  cozykrisknits      393166  2014/12/25 14:31:01 -0500       6
2           2  cozykrisknits      447781  2014/12/25 14:29:06 -0500       6
3           3  cozykrisknits      117296  2013/01/07 22:42:44 -0500       6
4           4  cozykrisknits      224811  2013/01/07 22:39:07 -0500       6

In [104]:
print(ratings.groupby('fave_date').count())

                           Unnamed: 0  user_id  pattern_id  int_id  score
fave_date
2007/09/27 08:52:18 -0400           1        1           1       1      1
2007/09/27 08:53:20 -0400           1        1           1       1      1
2007/09/27 08:53:33 -0400           1        1           1       1      1
2007/09/27 10:10:22 -0400           1        1           1       1      1
2007/09/27 10:36:54 -0400           1        1           1       1      1
...                               ...      ...         ...     ...    ...
2017/09/16 05:24:29 -0400           1        1           1       1      1
2017/09/16 05:25:24 -0400           1        1           1       1      1
2017/09/16 05:26:19 -0400           1        1           1       1      1
2017/09/16 05:27:09 -0400           1        1           1       1      1
2017/09/16 05:27:25 -0400           1        1           1       1      1

[3712230 rows x 5 columns]

In [106]:
print()

In [28]:
print("Total no of ratings :",ratings.shape[0])

Total no of ratings : 3756714

In [117]:
ratings['score'] = 1

In [120]:
ratings.loc[ratings['fave_date'] >= '2009/09/30', 'score'] = 2
ratings.loc[ratings['fave_date'] >= '2011/09/30', 'score'] = 3
ratings.loc[ratings['fave_date'] >= '2014/09/30', 'score'] = 4
ratings.loc[ratings['fave_date'] >= '2015/09/30', 'score'] = 5

In [121]:
origin_data = ratings[['int_id', 'pattern_id', 'score']]
origin_data.head()

   int_id  pattern_id  score
0       0      720780      5
1       6      393166      4
2       6      447781      4
3       6      117296      3
4       6      224811      3

In [122]:
origin_data = origin_data.loc[0:100000]

In [123]:
'''
for i in range(len(origin_data)):
    origin_data['score'][i] = random.randint(1,5)

origin_data.head()

'''

"\nfor i in range(len(origin_data)):\n    origin_data['score'][i] = random.randint(1,5)\n\norigin_data.head()\n\n"

In [124]:
rdata = origin_data.loc[0:100000]

In [125]:
print("Total no of ratings :",rdata.shape[0])

Total no of ratings : 100001

In [126]:
rdata.head(20)

    int_id  pattern_id  score
0        0      720780      5
1        6      393166      4
2        6      447781      4
3        6      117296      3
4        6      224811      3
5        6      167528      3
6        6       12648      3
7        8      112067      3
8        8       13010      3
9       99      390707      5
10      99      570883      5
11      99      574591      5
12      99      687166      5
13      99      639396      5
14      99      686916      5
15      99      178872      5
16      99      687245      5
17      99      472924      5
18      99      650674      5
19      99      649491      5

In [127]:
### 학습데이터 포멧팅 from DataFrame


r_min = rdata['score'].min()
r_max = rdata['score'].max()

reader = Reader(rating_scale=(r_min, r_max))
data = Dataset.load_from_df(rdata[['int_id', 'pattern_id', 'score']],reader)

In [128]:
trainset = data.build_full_trainset()
testset = trainset.build_testset()

In [129]:
algo = SVD()

### trainset으로 SVD 학습
algo.fit(trainset)

In [130]:
### testset으로 RMSE 측정
predictions = algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.9738

0.973830917258298

In [131]:
rdata.head(20)

    int_id  pattern_id  score
0        0      720780      5
1        6      393166      4
2        6      447781      4
3        6      117296      3
4        6      224811      3
5        6      167528      3
6        6       12648      3
7        8      112067      3
8        8       13010      3
9       99      390707      5
10      99      570883      5
11      99      574591      5
12      99      687166      5
13      99      639396      5
14      99      686916      5
15      99      178872      5
16      99      687245      5
17      99      472924      5
18      99      650674      5
19      99      649491      5

In [132]:
from surprise.model_selection import GridSearchCV, cross_validate

param_grid = {'n_factors': [50, 75], 'lr_all': [0.5, 0.05], 'reg_all': [0.06, 0.04]} 
gs = GridSearchCV(algo_class=SVD, measures=['RMSE'], param_grid=param_grid) 
gs.fit(data) 
print('\n###################') 
print('Best Score :', gs.best_score['rmse']) 
print('Best Parameters :', gs.best_params['rmse']) 
print('#####################')

###################
Best Score : 0.8514887804753517
Best Parameters : {'n_factors': 75, 'lr_all': 0.05, 'reg_all': 0.04}
#####################

In [133]:
best_params = gs.best_params['rmse']

In [134]:
final_algo = SVD(n_factors=best_params['n_factors'], lr_all=best_params['lr_all'], reg_all=best_params['reg_all'])

### SVD 학습
final_algo.fit(trainset)

### 최종으로 RMSE 측정
predictions = final_algo.test(testset)
accuracy.rmse(predictions)

RMSE: 1.2298

1.2298247376053715

In [135]:
pd.DataFrame(predictions)

           uid     iid  r_ui       est                    details
0            0  720780   5.0  5.000000  {'was_impossible': False}
1            6  393166   4.0  3.932322  {'was_impossible': False}
2            6  447781   4.0  3.911716  {'was_impossible': False}
3            6  117296   3.0  3.033718  {'was_impossible': False}
4            6  224811   3.0  3.039246  {'was_impossible': False}
...        ...     ...   ...       ...                        ...
99996   101193  244146   2.0  2.091161  {'was_impossible': False}
99997   101193  242697   2.0  2.047844  {'was_impossible': False}
99998   101193  243228   2.0  2.085796  {'was_impossible': False}
99999   101193  239490   2.0  2.091170  {'was_impossible': False}
100000  101193  239624   2.0  2.068462  {'was_impossible': False}

[100001 rows x 5 columns]

In [136]:
userid = 6
movieid = 720780

sample_test = [(userid, movieid, 0)]
algo.test(sample_test)

[Prediction(uid=6, iid=720780, r_ui=0, est=3.8318082445836286, details={'was_impossible': False})]

In [137]:
def get_top_n(predictions, n):
    # 각 사용자의 예측데이터를 defaultdict에 저장
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # 정렬 후 Top N 개만 저장
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [138]:
topNresults = get_top_n(predictions, 5)

In [139]:
topNresults[0]

[(720780, 5)]

In [140]:
topNresults[6]

[(393166, 3.932322095881652),
 (447781, 3.9117157023423847),
 (224811, 3.0392463343255915),
 (12648, 3.034856040455797),
 (117296, 3.033717697511576)]